@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&family=Quicksand:wght@300..700&family=Rubik+Wet+Paint&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: slategrey;
  /* cursor: none; */
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-y: hidden;
}

.custom-cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
}

/* Add this to your CSS file or in a <style> tag */
.radial-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 1%, #202424 99%);
}


/* Ensure no outline or border change on focus and active */
.explore-button {
  outline: none !important;
  border: 2px solid white; /* Set the border color explicitly */
  box-shadow: none !important;
  background: transparent;
}

.explore-button:focus,
.explore-button:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: white !important; /* Maintain the white border on focus */
}

.explore-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* Override slick-slide padding */
.slick-slide {
  display: flex !important; /* Ensure flex container */
  align-items: center;      /* Center vertically */
  justify-content: center;  /* Center horizontally */
}






